.error-block {
    color: #bf4605;
}

.error-icon {
    width: 10%;
    padding: 10px 0 0 0;
}

.error-title {
    text-align: center;
    margin: 0 0 10px 0;
    font-size: 46px;
}

.error-text {
    text-align: center;
    font-size: 26px;
    padding: 0 0 20px 0;
}

.reloading-app {
    max-width: 200px;
}